// Breakpoints
$breakpoints: (
  small : 568px,
  medium: 768px,
  large : 1024px,
  x-large:1280px
);

// Social Colors
$social-colors: (
  dribbble: #ea4c89,
  facebook: #3b5998,
  github: #171515,
  google: #db4437,
  twitter: #55acee,
  pinterest:#ab171e
);